Repository code4tomorrow/python, pull requests merged in 2021-07, with the labels that each got.

#137 Add example for function parameters
  2_intermediate/chapter11/examples/parameters.py
Labels: enhancement

#139 Solution to *args practice problem
  2_intermediate/chapter11/solutions/shopping.py
Labels: enhancement, practice problem

#138 Add practice problem for *args
  2_intermediate/chapter11/practice/shopping.py
Labels: enhancement, practice problem

#140 Create nutrition_facts.py
  2_intermediate/chapter11/practice/nutrition_facts.py
  2_intermediate/chapter11/solutions/nutrition_facts.py
Labels: practice problem
